body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

th {
  font-size: 18px;
}

td {
  font-size: 18px;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.paginate ul {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.paginate li {
  padding: 10px 17px;
  margin: 0px 10px;
  cursor: pointer;
}

.paginate li:hover {
  color: red;
}
